<nav class="navbar navbar-toggleable-md navbar-light bg-faded sticky-top" style="background-color: #B0C4DE;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">limameal</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let menuItem of menuItems">
        <a class="nav-link" (click)="navigateTo(menuItem.route)" data-toggle="collapse" data-target=".navbar-collapse">{{
          menuItem.title }}</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
